<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942317437218-hfpvmo3vrd1m88vqsokmtcboitmu6qt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942317437218-hfpvmo3vrd1m88vqsokmtcboitmu6qt2</string>
	<key>API_KEY</key>
	<string>AIzaSyBFzc0I2fo5oKn_bRgbJvcB1eA6ZuR00l8</string>
	<key>GCM_SENDER_ID</key>
	<string>942317437218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morungaba.usuario</string>
	<key>PROJECT_ID</key>
	<string>fomedevenda</string>
	<key>STORAGE_BUCKET</key>
	<string>fomedevenda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942317437218:ios:25270eda15d362d2fda57b</string>
</dict>
</plist>
